In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-02-07 01:50:35,-9.8000,-139.0333,79.99,80,73,18.21
1,1,Katobu,ID,2021-02-07 01:54:00,-4.9408,122.5276,84.87,72,100,4.74
2,2,Albany,US,2021-02-07 01:50:41,42.6001,-73.9662,25.00,48,0,2.01
3,3,Puerto Ayora,EC,2021-02-07 01:54:01,-0.7393,-90.3518,77.00,94,66,6.76
4,4,Kendari,ID,2021-02-07 01:54:01,-3.9450,122.4989,85.89,68,100,2.30

In [10]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.40)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-02-07 01:50:35,-9.8000,-139.0333,79.99,80,73,18.21
1,1,Katobu,ID,2021-02-07 01:54:00,-4.9408,122.5276,84.87,72,100,4.74
3,3,Puerto Ayora,EC,2021-02-07 01:54:01,-0.7393,-90.3518,77.00,94,66,6.76
4,4,Kendari,ID,2021-02-07 01:54:01,-3.9450,122.4989,85.89,68,100,2.30
7,7,Butaritari,KI,2021-02-07 01:54:01,3.0707,172.7902,80.98,81,71,20.78
9,9,Rikitea,PF,2021-02-07 01:54:02,-23.1203,-134.9692,78.85,65,100,10.00
11,11,Mataura,NZ,2021-02-07 01:54:02,-46.1927,168.8643,81.86,44,5,1.34
15,15,Mahebourg,MU,2021-02-07 01:54:03,-20.4081,57.7000,75.00,86,4,1.99
19,19,Santa Rosa,PH,2021-02-07 01:54:04,14.3122,121.1114,87.01,78,20,2.30
22,22,Hithadhoo,MV,2021-02-07 01:54:04,-0.6000,73.0833,81.36,76,0,12.19

In [29]:
# Check if there are any null values.
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Atuona      PF     79.99  -9.8000 -139.0333
1         Katobu      ID     84.87  -4.9408  122.5276
3   Puerto Ayora      EC     77.00  -0.7393  -90.3518
4        Kendari      ID     85.89  -3.9450  122.4989
7     Butaritari      KI     80.98   3.0707  172.7902
9        Rikitea      PF     78.85 -23.1203 -134.9692
11       Mataura      NZ     81.86 -46.1927  168.8643
15     Mahebourg      MU     75.00 -20.4081   57.7000
19    Santa Rosa      PH     87.01  14.3122  121.1114
22     Hithadhoo      MV     81.36  -0.6000   73.0833

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
# Set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make requests
hotels = requests.get(base_url, params=params)

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,79.99,-9.8000,-139.0333,Villa Enata
1,Katobu,ID,84.87,-4.9408,122.5276,La Ode Husein
3,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Castillo Galapagos
4,Kendari,ID,85.89,-3.9450,122.4989,Hotel Wixel
7,Butaritari,KI,80.98,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...
544,Cabinda,AO,79.50,-5.5500,12.2000,"Hotel Executivo , 3 estrelas"
554,Trinidad,BO,76.15,-14.8333,-64.9000,Hotel Piesta
557,Port Blair,IN,80.98,11.6667,92.7500,Welcomhotel Bay Island Port Blair
558,Alyangula,AU,82.40,-13.8483,136.4192,Groote Eylandt Lodge
562,Port Augusta,AU,75.99,-32.5000,137.7667,Majestic Oasis Apartments

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Add new syntax.
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))