## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib as plt
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/Joey/Class/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,57.00,54,90,11.50,overcast clouds
1,1,Matara,LK,5.9485,80.5353,72.73,90,83,2.42,broken clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,57.20,51,75,9.22,broken clouds
3,3,Khatanga,RU,71.9667,102.5000,-26.25,86,98,7.99,overcast clouds
4,4,Kodiak,US,57.7900,-152.4072,35.60,75,75,12.66,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 70
What is your desired maximum temperature for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Matara,LK,5.9485,80.5353,72.73,90,83,2.42,broken clouds
5,5,Tuatapere,NZ,-46.1333,167.6833,72.00,51,72,3.00,broken clouds
7,7,Makakilo City,US,21.3469,-158.0858,80.60,54,1,9.22,clear sky
9,9,Rikitea,PF,-23.1203,-134.9692,80.53,72,26,10.11,scattered clouds
10,10,Faanui,PF,-16.4833,-151.7500,81.54,75,10,11.70,moderate rain
...,...,...,...,...,...,...,...,...,...,...
687,687,Buala,SB,-8.1450,159.5921,80.11,85,100,10.87,light rain
689,689,Terra Santa,BR,-2.1042,-56.4869,77.25,87,56,1.52,broken clouds
695,695,Formosa,AR,-26.1775,-58.1781,75.20,83,0,3.44,clear sky
710,710,Cabarroguis,PH,16.5833,121.5000,72.64,82,97,1.66,overcast clouds
711,711,Omboue,GA,-1.5746,9.2618,78.93,85,100,6.46,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Matara,LK,5.9485,80.5353,72.73,90,83,2.42,broken clouds
5,5,Tuatapere,NZ,-46.1333,167.6833,72.00,51,72,3.00,broken clouds
7,7,Makakilo City,US,21.3469,-158.0858,80.60,54,1,9.22,clear sky
9,9,Rikitea,PF,-23.1203,-134.9692,80.53,72,26,10.11,scattered clouds
10,10,Faanui,PF,-16.4833,-151.7500,81.54,75,10,11.70,moderate rain
...,...,...,...,...,...,...,...,...,...,...
687,687,Buala,SB,-8.1450,159.5921,80.11,85,100,10.87,light rain
689,689,Terra Santa,BR,-2.1042,-56.4869,77.25,87,56,1.52,broken clouds
695,695,Formosa,AR,-26.1775,-58.1781,75.20,83,0,3.44,clear sky
710,710,Cabarroguis,PH,16.5833,121.5000,72.64,82,97,1.66,overcast clouds
711,711,Omboue,GA,-1.5746,9.2618,78.93,85,100,6.46,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Matara,LK,72.73,broken clouds,5.9485,80.5353,
5,Tuatapere,NZ,72.00,broken clouds,-46.1333,167.6833,
7,Makakilo City,US,80.60,clear sky,21.3469,-158.0858,
9,Rikitea,PF,80.53,scattered clouds,-23.1203,-134.9692,
10,Faanui,PF,81.54,moderate rain,-16.4833,-151.7500,
11,Roebourne,AU,83.12,scattered clouds,-20.7833,117.1333,
12,Antalaha,MG,74.93,overcast clouds,-14.9003,50.2788,
16,Mataura,NZ,72.00,broken clouds,-46.1927,168.8643,
18,Novo Aripuana,BR,74.95,broken clouds,-5.1206,-60.3797,
19,Stabat,ID,77.00,haze,3.7610,98.4513,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6c. Get latitude and longitude from DataFrame
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.") 
hotel_df

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Matara,LK,72.73,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
5,Tuatapere,NZ,72.00,broken clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
7,Makakilo City,US,80.60,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
9,Rikitea,PF,80.53,scattered clouds,-23.1203,-134.9692,Pension Maro'i
10,Faanui,PF,81.54,moderate rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...
687,Buala,SB,80.11,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
689,Terra Santa,BR,77.25,broken clouds,-2.1042,-56.4869,Hotel Sarah
695,Formosa,AR,75.20,clear sky,-26.1775,-58.1781,Asterión Hotel
710,Cabarroguis,PH,72.64,overcast clouds,16.5833,121.5000,Diamond J Hotel
711,Omboue,GA,78.93,light rain,-1.5746,9.2618,Hotel Olako

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_clean_df = hotel_df.dropna()
hotel_clean_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Matara,LK,72.73,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
5,Tuatapere,NZ,72.00,broken clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
7,Makakilo City,US,80.60,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
9,Rikitea,PF,80.53,scattered clouds,-23.1203,-134.9692,Pension Maro'i
10,Faanui,PF,81.54,moderate rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...
687,Buala,SB,80.11,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
689,Terra Santa,BR,77.25,broken clouds,-2.1042,-56.4869,Hotel Sarah
695,Formosa,AR,75.20,clear sky,-26.1775,-58.1781,Asterión Hotel
710,Cabarroguis,PH,72.64,overcast clouds,16.5833,121.5000,Diamond J Hotel
711,Omboue,GA,78.93,light rain,-1.5746,9.2618,Hotel Olako

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_clean_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_clean_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))